@import url('https://fonts.googleapis.com/css?family=Lato:400,300,700,900');
html,body { margin: 0px; padding: 0px; }
html{
	position: relative;
	min-height: 100% !important;
}
body {
    background: #394864;
    background-image: url(fundo.jpg);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
	margin-bottom:60px !important;
} h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #444;
} h1 {
    font-size: 40px;
} h3 {
    font-weight: 400;
} h4 {
    font-weight: 400;
    font-size: 20px;
} p {
    margin-bottom: 20px;
    font-size: 16px;
} a {
    color: #ACBAC1;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
} a:hover, a:focus {
    color: #4F92AF;
    text-decoration: none;
    outline: 0;
} a:before, a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
} .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
} .btn-theme  {
    color: #fff;
    background-color: #4F92AF;
    border-color: #4F92AF;
    transition: background 0.3s;
} .btn-theme:hover  {
    color: #fff;
    background-color: #5cacce;
    border-color: #5cacce;
} form.signup input  {
    height: 42px;
    width: 250px !important;
    border-radius: 0;
    border: none;
} form.signup button.btn {
    font-weight: 700;
} form.signup input.form-control:focus {
    border-color: #fd680e;
} #wrapper {
    text-align: center;
    padding: 5% 0 0 0;
    min-width: 100%;	
    min-height: 100%;
} #wrapper h1 {
    margin-top: 60px;
    margin-bottom: 40px;
    color: #fff;
    font-size: 65px;
    font-weight: 900;
    letter-spacing: -1px;
} h2.subtitle {
    color: #fff;
    font-size: 24px;
	margin-top: 60px;
} #countdown {
    font-size: 48px;
    color: #fff;
    line-height: 1.1em;
    margin: 40px 0 60px;
} p.copyright {
    margin-top: 30px;
    color: #fff;
    text-align: center;
    padding: 0;
    margin-bottom: 5px;
}.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
